/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-header:#b4d0e7;
    --bg-button-b:#0061ff;
    --white:#ffffff;
    --logo-g:#a2d39b;
    --logo-p:#61082b;
    --logo-lb:#0093ce;
    --logo-r:#ff1c1c;
    --logo-cherry:#d5001f;
    --logo-lg:#b4d0e7;
    --logo-b:#0d2481;
    --logo-y:#ffd830;
    --bg-footer:#000000;
    --button-hover:#92ceff;

}

.debug{
    border: 2px solid orange;
}

.container-big{
    width: 1200px;
    margin: 0 auto;
}

.container-small{
    width: 1000px;
    margin: 0 auto;
}

/* Header */
nav{
    width: 100%;
    position: fixed;
    background-color: var(--white);
    z-index: 1000;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.d-flex{
    display: flex;
}

nav a{
    color: var(--bg-footer);
    text-decoration: none;
    padding: 0px 13px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    vertical-align: 5px;
}
nav .line-height:hover{
    border-bottom: 2px solid black;
}

.line-height{
    line-height: 80px;
}

nav img{
    width: 110px;
}

.nav-button{
    background-color: var(--bg-button-b);
    padding: 5px 15px;
    color: var(--white);
}

.nav-button:hover{
    background-color: var(--button-hover);
}

.main-bg{
    background-color: var(--bg-header);
    padding-top: 180px;
}

.mbot{
    margin-bottom: 100px;
}

.w-100{
    width: 100%;
}

.bg-lightblue{
    background-color: var(--bg-header);
}









/* Footer */
.bg-footer{
    background-color: var(--bg-footer);
    height: 80px;
}