/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-header:#b4d0e7;
    --bg-button-b:#0061ff;
    --white:#ffffff;
    --logo-g:#a2d39b;
    --logo-p:#61082b;
    --logo-lb:#0093ce;
    --logo-r:#ff1c1c;
    --logo-cherry:#d5001f;
    --logo-lg:#b4d0e7;
    --logo-b:#0d2481;
    --logo-y:#ffd830;
    --bg-footer:#000000;
    --button-hover:#44a2ef;
    --bg-box:#f5f5f5;

}

.debug{
    border: 2px solid orange;
}

.container-big{
    max-width: 1100px;
    margin: 0 auto;
}

.container-small{
    max-width: 900px;
    margin: 0 auto;
}

/* Header */
nav{
    width: 100%;
    position: fixed;
    background-color: var(--white);
    z-index: 1000;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.d-flex{
    display: flex;
}

nav a{
    color: var(--bg-footer);
    text-decoration: none;
    padding: 0px 13px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    vertical-align: 5px;
}
nav .line-height:hover{
    border-bottom: 2px solid black;
}

.line-height{
    line-height: 80px;
}

nav img{
    width: 110px;
}

.nav-button{
    background-color: var(--bg-button-b);
    padding: 5px 15px;
    color: var(--white);
}

.nav-button:hover{
    background-color: var(--button-hover);
}

.main-bg{
    background-color: var(--bg-header);
    padding-top: 180px;
}

.mbot{
    margin-bottom: 100px;
}

.w-100{
    width: 100%;
}

.bg-lightblue{
    background-color: var(--bg-header);
}

h1{
    font-size: 59px ;
}

.decoration-n{
    text-decoration: none;
    padding: 10px 20px;
}

.p-m{
    margin-top: 55px;
    margin-bottom: 30px;
}

.p2-m{
    margin-top: 30px;
    margin-bottom: 30px;
}


main div i{
    color: var(--bg-footer);
    text-decoration: none;
    font-size: 40px;
}

.jumbo{
    max-width: 48vw;
}

.img-relative{
    position: relative;
    top: 60px;
}










.w-marche{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.w-box{
    width: 50%;
    height: 50%;
}

.box1{
    background-color: var(--logo-g);
}

.box2{
    background-color: var(--logo-p);
}

.box3{
    background-color: var(--logo-lb);
}

.box4{
    background-color: var(--logo-r);
}

.m-flex{
    flex-flow: row wrap;
}

.obj{
    width: 50%;
}

.bg-box{
    background-color: var(--bg-box);
}

.box5{
    background-color: var(--logo-cherry);
}

.box6{
    background-color: var(--logo-lg) ;
}

.box7{
    background-color: var(--logo-b);
}

.box8{
    background-color: var(--logo-y) ;
}

.main-hr{
    margin-top: 30px;
    color: grey;
    width: 70px;
    margin-left: 30px;
}

.drop-sec{
    color: var(--logo-p);
}

.white-button{
    font-size: 13px;
    background-color: var(--white);
    color: var(--bg-footer);
    text-decoration: none;
    height: 40px;
    padding: 10px 15px;
}

.s-bet{
    justify-content: space-between ;
}

.p-sec{
    padding: 100px 0;
}

.h2-font{
    font-size: 30px;
    width: 60%;
}







.p-bot{
 padding-bottom: 40px;
}

.font-faq{
    font-size: 13px
}


.p-chevron{
    padding-left: 170px;
}

.p-faq{
    padding: 30px 0;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey;
}

.p-none{
    display: none;
}

.p-chevron:hover +  .p-none{
    display: block;
    margin-top: 20px;
}







/* Footer */
.bg-footer{
    background-color: var(--bg-footer);
    color: var(--white);
}

.s-around{
    justify-content: space-around;
    align-items: flex-start ;
}

footer ul{
    list-style: none;
}

.p-footer{
    padding: 80px 0;
}

footer li{
    padding: 8px 0;
}

footer hr{
    color: grey;
    width: 100px;
    margin-top: 90px;
    margin-left: 25px;
}

.dimension{
    margin-top: 50px;
    margin-left: 25px;
}